<style>
    .democlass {
        color: red;
    }
</style>
<div class="span6">
FZP (import)


    <p>1. <input type="file" name="xlfile" id="xlf" /> Get File</p>

    <p>2. Tabela: </p>
    <table id="tabeleOut" style="width:100%"></table>


    <script>
        var X = XLSX;


        var xlf = document.getElementById('xlf');

        function handleFile(e) {
            var files = e.target.files;
            var f = files[0];
            readXLSX( f );
            //alert(f.name);
        }

        if(xlf.addEventListener) xlf.addEventListener('change', handleFile, false);


        function readXLSX( file ) {
            /* set up XMLHttpRequest */
            var url = file.name;
            var oReq = new XMLHttpRequest();
            oReq.open("GET", url, true);
            oReq.responseType = "arraybuffer";

            oReq.onload = function(e) {
                var arraybuffer = oReq.response;

                /* convert data to binary string */
                var data = new Uint8Array(arraybuffer);
                var arr = new Array();
                for(var i = 0; i != data.length; ++i) arr[i] = String.fromCharCode(data[i]);
                var bstr = arr.join("");

                /* Call XLSX */
                var workbook = XLSX.read(bstr, {type:"binary"});

                /* DO SOMETHING WITH workbook HERE */
                var first_sheet_name = workbook.SheetNames[0];
                /* Get worksheet */
                var worksheet = workbook.Sheets[first_sheet_name];
                console.log(XLSX.utils.sheet_to_json(worksheet,{raw:true}));

                console.log("Start");
                console.log(XLSX.utils.sheet_to_json(worksheet,{raw:true}));

                var exc = new Array();
                exc = XLSX.utils.sheet_to_json(worksheet,{raw:true});

                to_table(exc);

                process_workbook(workbook);
            }

            oReq.send();

        }

        function process_workbook (wb) {
            var output = "";
            var output2 = "";

            output = JSON.stringify(to_json(wb), 2, 2);




            if(out.innerText === undefined) out.textContent = output;
            else out.innerText = output;
            if(typeof console !== 'undefined') console.log("output", new Date());

        }

        function to_json(workbook) {
            var result = {};
            workbook.SheetNames.forEach(function(sheetName) {
                var roa = X.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                if(roa.length > 0){
                    result[sheetName] = roa;
                }
            });
            return result;
        }

        function to_table(exc) {



            var result = {};

            var x = document.getElementById("tabeleOut");

            x.setAttribute("id", "myTable");
            x.setAttribute("class", "democlass");

            //document.body.appendChild(x);

            var y = document.createElement("TR");
            y.setAttribute("id", "myTr");
            document.getElementById("myTable").appendChild(y);




            for (var i = 0; i < exc.length; i++) {


                console.log("Start" + exc[i].q1);
                console.log("Start" + exc[i].q2);
                console.log("Start" + exc[i].q3);


                var y = document.createElement("TR");
                y.setAttribute("id", "myTr"+i);
                document.getElementById("myTable").appendChild(y);


                var z = document.createElement("TD");
                var t = document.createTextNode(exc[i]["Cena za litr"]);
                z.appendChild(t);
                document.getElementById("myTr"+i).appendChild(z);

                var z = document.createElement("TD");
                var t = document.createTextNode(exc[i].CenaSprzedazySrednia);
                z.appendChild(t);
                document.getElementById("myTr"+i).appendChild(z);

                var z = document.createElement("TD");
                var t = document.createTextNode(exc[i].q3);
                z.appendChild(t);
                document.getElementById("myTr"+i).appendChild(z);




            }






            return result;
        }




    </script>


    <p>3. JSON: </p>
    <pre id="out"></pre>


</div>