<style>
    .democlass {
        color: red;
    }

    table {
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }


</style>
<div class="span6">
FZP (import)



  <form name="myForm">

        <label for="singleSelect">1. Wybierz dostawcę: </label>
        <select name="singleSelect" ng-model="data.singleSelect">
            <option value="Orlen">Orlen</option>
            <option value="Statoil">Statoil</option>
            <option value="BP">BP(Todo)</option>
        </select><br>

      <tt>Dostawca faktury = {{data.singleSelect}}</tt>

      <br><br>
      <label>2. Wskaż plik (excel z pozycjami):  </label>
        <input type="file" name="xlfile" id="xlf" /> Get File</p>

      <br><br>
      <label for="repeatSelect">3. Do jakiej firmy wgrać fakture: </label>
      <select name="repeatSelect" id="repeatSelect" ng-model="companyList.selectCompany">
          <option ng-repeat="com in companyList.company" value="{{com.frmId}}">{{com.frmNazwa}}</option>
      </select>
      <br>
      <tt>Firma = {{companyList.selectCompany}}</tt>


      <br><br>
       <label>4. Wskaż plik (excel z pozycjami):  </label>
       <table id="tabeleOut" style="width:100%"></table>


      <br><br>
      <label>5. Sprawdź przypisanie kart przed wgraniem: </label><br>
        <button ng-click="checkCardsEmlpoyees()">Sprawdź</button><br>


    <script>
        var X = XLSX;


        var xlf = document.getElementById('xlf');

        function handleFile(e) {
            var files = e.target.files;
            var f = files[0];
            readXLSX( f );
            //alert(f.name);
        }

        if(xlf.addEventListener) xlf.addEventListener('change', handleFile, false);


        function readXLSX( file ) {
            /* set up XMLHttpRequest */
            var url = file.name;
            var oReq = new XMLHttpRequest();
            oReq.open("GET", url, true);
            oReq.responseType = "arraybuffer";

            oReq.onload = function(e) {
                var arraybuffer = oReq.response;

                /* convert data to binary string */
                var data = new Uint8Array(arraybuffer);
                var arr = new Array();
                for(var i = 0; i != data.length; ++i) arr[i] = String.fromCharCode(data[i]);
                var bstr = arr.join("");

                /* Call XLSX */
                var workbook = XLSX.read(bstr, {type:"binary"});

                /* DO SOMETHING WITH workbook HERE */
                var first_sheet_name = workbook.SheetNames[0];
                /* Get worksheet */
                var worksheet = workbook.Sheets[first_sheet_name];
                console.log(XLSX.utils.sheet_to_json(worksheet,{raw:true}));

                console.log("Start");
                console.log(XLSX.utils.sheet_to_json(worksheet,{raw:true}));

                var exc = new Array();
                exc = XLSX.utils.sheet_to_json(worksheet,{raw:true});

                to_table(exc);

                process_workbook(workbook);
            }

            oReq.send();

        }

        function process_workbook (wb) {
            var output = "";
            var output2 = "";

            output = JSON.stringify(to_json(wb), 2, 2);




            if(out.innerText === undefined) out.textContent = output;
            else out.innerText = output;
            if(typeof console !== 'undefined') console.log("output", new Date());

        }

        function to_json(workbook) {
            var result = {};
            workbook.SheetNames.forEach(function(sheetName) {
                var roa = X.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                if(roa.length > 0){
                    result[sheetName] = roa;
                }
            });
            return result;
        }





        function to_table(exc) {



            var result = {};

            var x = document.getElementById("tabeleOut");

            x.setAttribute("id", "myTable");
            x.setAttribute("class", "democlass");
            //x.style.border = "1px solid #000";

            //document.body.appendChild(x);

            var y = document.createElement("TR");
            y.setAttribute("id", "myTr");
            y.style.color = 'black';
            document.getElementById("myTable").appendChild(y);

            /*var z = document.createElement("TD");
            var t = document.createTextNode("Nr faktury");
            z.appendChild(t);
            document.getElementById("myTr").appendChild(z);*/

            names = Object.getOwnPropertyNames(exc[0]); //pobieram nazwy kolumn

            var k = 1;
            for (var key in exc[0] ) {
                addHeadingTable( names[k]);
                k++;
            }




            for (var i = 0; i < exc.length; i++) {


                console.log("Start" + exc[i].q1);
                console.log("Start" + exc[i].q2);
                console.log("Start" + exc[i].q3);


                var y = document.createElement("TR");
                y.setAttribute("id", "myTr"+i);
                document.getElementById("myTable").appendChild(y);

                var j = 1;
                for (var key in exc[0] ) {

                    var z = document.createElement("TD");
                    var t = document.createTextNode(exc[i][ names[j] ]);
                    z.appendChild(t);
                    document.getElementById("myTr"+i).appendChild(z);

                    j++;
                }

                /*
                var z = document.createElement("TD");
                var t = document.createTextNode(exc[i]["Nr faktury"]);
                z.appendChild(t);
                document.getElementById("myTr"+i).appendChild(z);

                var z = document.createElement("TD");
                var t = document.createTextNode(exc[i]["Nr karty"]);
                z.appendChild(t);
                document.getElementById("myTr"+i).appendChild(z);

                var z = document.createElement("TD");
                var t = document.createTextNode(exc[i]["Data realizacji"]);
                z.appendChild(t);
                document.getElementById("myTr"+i).appendChild(z);

                var z = document.createElement("TD");
                var t = document.createTextNode(exc[i]["Nr stacji"]);
                z.appendChild(t);
                document.getElementById("myTr"+i).appendChild(z);

                var z = document.createElement("TD");
                var t = document.createTextNode(exc[i]["Miejscowość"]);
                z.appendChild(t);
                document.getElementById("myTr"+i).appendChild(z);

                var z = document.createElement("TD");
                var t = document.createTextNode(exc[i]["Nazwa produktu"]);
                z.appendChild(t);
                document.getElementById("myTr"+i).appendChild(z);

                var z = document.createElement("TD");
                var t = document.createTextNode(exc[i]["Ilość litrów"]);
                z.appendChild(t);
                document.getElementById("myTr"+i).appendChild(z);
                */

            }






            return result;
        }


        function addHeadingTable( name ){
            var z = document.createElement("TD");
            var t = document.createTextNode( name  );
            z.appendChild(t);
            document.getElementById("myTr").appendChild(z);
        }


    </script>


    <p>3. JSON: </p>
    <pre id="out"></pre>

  </form>



</div>